/* Add these styles to the existing CSS */

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
}

h2{
    color:#004080;
}

nav {
    margin-top: 10px;
    font-size : 25px;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.5s ease;
    
}

nav a:hover {
    color: #0066cc;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 300px;
    height: 200px;
}


main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #e6e6e6;
    color: #333;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:  #85abc5;
}
.login-container{
    
    position: absolute;
    top: 10px; /* Adjust the top distance */
    right: 10px; 
}

.login{

        background-color:  #85abc5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        
      }
      
.login:hover {
        opacity:1;
      }
      .news-ticker-container {
        overflow: hidden;
        background-color: #004080;
        color: #fff;
        padding: 10px;
    }
    
    .news-ticker {
        display: flex;
        animation: ticker-scroll 20s linear infinite;
    }
    
    .news-item {
        padding: 0 20px;
        opacity: 0.8;
        font-size: 18px;
        white-space: nowrap;
        border-right: 2px solid #007BFF;
    }
    
    .news-item:last-child {
        border-right: none;
    }
    
    @keyframes ticker-scroll {
        0% {
            transform: translateX(100%);
        }
    
        100% {
            transform: translateX(-100%);
        }
    }
    
    .news-item:hover {
        opacity: 1;
        background-color: #0066cc;
    }


