body {
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #login-container {
    background-color: #3498db; /* Blue container background */
    color: #fff; /* White text color */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    border: 2px solid #2980b9; /* Darker blue border */
  }

  #login-container h2 {
    margin-bottom: 20px;
  }

  #login-form {
    display: flex;
    flex-direction: column;
  }

  #login-form label {
    margin-bottom: 8px;
    color: #fff; /* White label text color */
  }

  #login-form input {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #fff; /* White input border */
    border-radius: 4px;
    background-color: #ecf0f1; /* Light gray input background */
    color: #333; /* Dark gray input text color */
  }

  #login-form button {
    padding: 12px;
    background-color: #2c3e50; /* Darker blue button background */
    color: #fff; /* White button text color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: background 0.3s ease;
    top: 100%;
    right: 100%;
  }

  #login-form button:hover {
    background-color: #34495e; /* Slightly lighter blue button background on hover */
  }